In [3]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.tree import DecisionTreeRegressor

In [4]:
dataset = pd.read_csv('bases/50_Startups.csv')
dataset.head()

   R&D Spend  Administration  Marketing Spend       State     Profit
0  165349.20       136897.80        471784.10    New York  192261.83
1  162597.70       151377.59        443898.53  California  191792.06
2  153441.51       101145.55        407934.54     Florida  191050.39
3  144372.41       118671.85        383199.62    New York  182901.99
4  142107.34        91391.77        366168.42     Florida  166187.94

### TO-DO 1

Remova as colunas Administration e State do dataset

In [5]:
#resposta
dataset = dataset.drop(columns = ['Administration', 'State'])
dataset.head()

   R&D Spend  Marketing Spend     Profit
0  165349.20        471784.10  192261.83
1  162597.70        443898.53  191792.06
2  153441.51        407934.54  191050.39
3  144372.41        383199.62  182901.99
4  142107.34        366168.42  166187.94

### TO-DO 2
Separe o dataset em vetor de características e variável meta

In [13]:
#resposta
X = dataset.iloc[:, :-1].values
y = dataset.iloc[:, -1].values

assert type(X) == np.ndarray, "É esperado que X seja um numpy.ndarray"
assert type(y) == np.ndarray, "É esperado que y seja um numpy.ndarray"

### TO-DO 3
Treine um modelo de regressão usando Regression Tree

In [7]:
#resposta
regressor = DecisionTreeRegressor(random_state = 0)
regressor.fit(X, y)

DecisionTreeRegressor(random_state=0)

### TO-DO 4
Suponha que a empresa tenha um orçamento de R$ 500.000,00.

Eles estão considerando três opções:

> R&D: 300.000,00 ; Marketing: 200.000,00

> R&D: 200.000,00 ; Marketing: 300.000,00

> R&D: 100.000,00 ; Marketing: 400.000,00

Qual opção irá, a partir do modelo treinado, retornar o maior lucro?

In [8]:
# resposta
orcamentos = [[300000, 200000], [200000,300000], [100000,400000]]

for orcamento in orcamentos:
    y_pred = regressor.predict([orcamento])
    print("Orçamento:", orcamento,
          "\nLucro Predito:", y_pred)
    print()

Orçamento: [300000, 200000]
Lucro Predito: [166187.94]

Orçamento: [200000, 300000]
Lucro Predito: [166187.94]

Orçamento: [100000, 400000]
Lucro Predito: [125370.37]

In [9]:
from sklearn import linear_model

In [10]:
model = linear_model.LinearRegression()
model.fit(X, y)

LinearRegression()

In [11]:
for orcamento in orcamentos:
    y_pred = model.predict([orcamento])
    print("Orçamento:", orcamento,
          "\nLucro Predito:", y_pred)
    print()

Orçamento: [300000, 200000]
Lucro Predito: [291932.65247867]

Orçamento: [200000, 300000]
Lucro Predito: [215265.03559365]

Orçamento: [100000, 400000]
Lucro Predito: [138597.41870863]